<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite">
    <listeners>
        <listener class-name="main.java.utils.SuiteListener"></listener>
    </listeners>
    <test name="Test Automation">
        <parameter name="browserName" value="firefox"></parameter>
        <classes>
            <class name="test.java.SampleTest"></class>
        </classes>
    </test>
</suite>